

<html>
 <head>
  
 </head>
 <body>
 	  <h1>Welcome to <%= node["company"] %></h1>
      <h2> Hello from <%= node["fqdn"] %> </h2>
  
        <p> 
        	Node memory : <%= @memory %> MB 
        	From version 0.1.1 
        </p>
        <p>
              This version 0.2.0 of cookbooks!
        </p>
</body>

</html>